body {
	padding-top:20px;
}

ul {
	list-style:none;
	margin:0px;
}

h3#title {
	padding-top:30px;
}

header.navbar {
	margin-bottom: 20px;
}

div#manage {
	margin-top: 10px;
}
div#manage > button {
	float: right;
	margin-left: 10px;
	width: 100px;
}

#loading {
    position:   fixed;
    z-index:    1000;
    top:        0;
    left:       0;
    height:     100%;
    width:      100%;
}
